*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./one.png);
    background-color: black;
    background-position: left;
    animation: mymove 15s infinite;
}
@keyframes mymove {
    50% {background-position: right;}
  }
.heading{
    text-align: center;
    padding: 1%;
    padding-bottom: 0px;
    color: lightgray;
    font-size: xx-large;
}
.description{
    text-align: center;
    padding: 1%;
    color: lightgray;
}
.bg{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    color: lightgray;
}
p{
    text-align: center;
    font-size: large;
}
.main{
    text-align: center;
    padding: 3%;
}
.input{
    background-color: lightgray;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 100%;
    border: none;
}
.input:focus{
    outline: none;
}
.button{
    background-color: lightgray;
    border: none;
    width: 80px;
    padding: .25%;
    border-radius: 20px;
}
.button:focus{
    outline: none;
}
.button_div{
    padding: 2%;
}
.res{
    color: lightgray;
    font-size: large;
}